<html>
<head>
    <title>Gtreedy rainbow</title>
    <style>
        .table-container {
            overflow-x: scroll;
        }
    </style>
</head>
<body>
<h1 align="center">욕망의 무지개</h1>
<br>
<div class="table-container" align="center">
    {% load mathfilters %}
    {% load index %}

  <table border=1 cellspacing=0 cellpadding=5>
  <form name=writeform method=post action="/schedule/insert">{% csrf_token %}
  <tr><td><b>일정시작</b></td><td><input type=datetime-local name=task_start value="2019-04-02T01:00"></td></tr>
  <tr><td><b>일정종료</b></td><td><input type=datetime-local name=task_end value="2019-04-02T03:00">
  <input type="submit" value="등록"></td></tr>
  </form>
  </table>

    <table border="1">
        {% for i in row %}
            <tr>
                {% for j in col %}
                    {% with temp=pieces|mul:i %}
                        {% with num=j|add:temp %}
                            {% if arr|search_index:num == 1 %}
                                <th>■</th>
                            {% else %}
                                <th>□</th>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>